<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="/static/css/sign_in.css" />
</head>
<body>
    <header>
    </header>
    <main>
        <form method="post">{% csrf_token %}
            <div class="container">
                {% for field in form %}
                <div class="fieldWrapper">
                    {{ field }}
                    {% for error in field.errors %}
                        <span id="test" class="error">{{ error }}<span>
                    {% endfor %}
                </div>
                {% endfor %}
                
                <button type="submit">Sign in</button>
            </div>
            <div id="remember">
                <input type="checkbox" name="remember-me"> Remember me
            </div>
            <div><a href="/signup">Ещё нет аккаунта?</a></div>

        </form>
    </main>
</body>
</html>